a {text-decoration: none; color: black}
a:hover {text-decoration:underline;none} 
td {font-size:12px;font-family:  "ו", "Arial", "Times New Roman"}
a.a1:hover {  color: #FFFFFF}
a.a1:visited {  color: #FFFFFF; text-decoration: none}
a:visited {  color: #000000}
td.td1 {  color: #FFFFFF}
a.a1 {  color: #FFFFFF}
